#all
.DS_Store
.vscode
*.cor
objs_asm
objs_dasm
objs_vm
asm
dasm
corewar
libft/objs
libft.a
a.out

#other
test.*
ex.s
.json

ressources/champs/*.cor
ressources/tests/testasm42
ressources/tests/testasm
ressources/tests/asm
ressources/tests/leaks.txt
ressources/tests/asm.dSYM/Contents/Info.plist
ressources/tests/asm.dSYM/Contents/Resources/DWARF/asm
